<main class="flex-shrink-0">
    {{#productDetails}}
    <div class="container py-4">
        <div class=row>
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Klocki Lego</a></li>
                        <li class="breadcrumb-item"><a href="/?query={{catalogueNumber}}">{{seriesName}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Zestaw {{catalogueNumber}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row my-3 d-flex flex-column shadow">
            <h1 class="display-6">{{title}}</h1>
            <div class="d-flex">
                <a href="/images/lego-{{catalogueNumber}}.jpg" class="w-50">
                    <img src="/images/lego-{{catalogueNumber}}.jpg" alt="{{title}}" title="{{title}}" class="img-fluid">
                </a>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex">
                        <div class="w-50">Tytuł oryginalny</div>
                        <div class="w-50">{{{catalogueTitle}}}</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50">Numer katalogowy</div>
                        <div class="w-50">{{catalogueNumber}}</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50">Liczba elementów</div>
                        <div class="w-50">{{piecesAmount}}</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50">Seria</div>
                        <div class="w-50">{{seriesName}}</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50">Rok wydania</div>
                        <div class="w-50">{{releaseYear}}</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50">Cena oryginalna</div>
                        <div class="w-50">{{cataloguePrice}} {{currency}}</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50">Najniższa cena</div>
                        <div class="w-50">{{lowestPrice}} {{currency}} ({{lowestPriceDetails}})</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50">Wiek</div>
                        <div class="w-50">{{recommendedAge}}+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/productDetails}}

    {{> layout/priceComparison}}
</main>
