<main class="flex-shrink-0">
    {{#productDetails}}
    <div class="container shadow">
        <div class=row>
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Klocki Lego</a></li>
                        <li class="breadcrumb-item"><a href="/?query={{catalogueNumber}}">{{seriesName}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Zestaw {{catalogueNumber}}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <h1 class="display-6">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="/images/lego-{{catalogueNumber}}.jpg">
                    <img src="/images/lego-{{catalogueNumber}}.jpg" alt="{{title}}" title="{{title}}" class="img-fluid">
                </a>
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col">Tytuł oryginalny</div>
                        <div class="col">{{{catalogueTitle}}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Numer katalogowy</div>
                        <div class="col">{{catalogueNumber}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Liczba elementów</div>
                        <div class="col">{{piecesAmount}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Seria</div>
                        <div class="col">{{seriesName}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Rok wydania</div>
                        <div class="col">{{releaseYear}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Cena oryginalna</div>
                        <div class="col">{{cataloguePrice}} {{currency}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Najniższa cena</div>
                        <div class="col">{{lowestPrice}} {{currency}} ({{lowestPriceDetails}})</div>
                    </div>
                    <div class="row">
                        <div class="col">Wiek</div>
                        <div class="col">{{recommendedAge}}+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/productDetails}}

    {{> layout/priceComparison}}
</main>
